<app-navbar></app-navbar>
<div *ngIf="userloginOn" class="banner_main" >
    <div class="row" id="div-2">
        <div class="col-md-12" >
           <div class="text_de">
              <div class="titlepage">
                 <h2>Bienvevido a Xoftix</h2>
              </div>
              <p>Innovando la transformación y el desarrollo digital</p>
              <a href="https://www.xoftix.com/new2/" class="btn btn-dark" target="_blank"> Saber Más</a>
           </div>
        </div>
     </div>
</div>
 
